html {
	background-image: url("../img/retina_wood_@2X.png");
}

img {
	width: 180px;
	padding: 0;
	margin: 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















